{% extends "base.html" %}
{% block content %}
<body>
  <form method="POST">
    {% csrf_token %}
    <div class="form-all">
      <h3>パスワード変更</h3>
      <div class="password-editbox">
        <label for="id_password">パスワード</label>
        <input type="password" name="password" required id="id_password">
        <label for="id_confirm_password">パスワード再入力</label>
        <input type="password" name="confirm_password" required id="confirm_password">
        <input type="submit" value="パスワード更新">
      </div>
    </div>
  </form>
</body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
